@use "variables";
@use "mixins";

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
#header {
  height: 90px;
  padding: 0;
  margin: 0;
  background-color: variables.$color5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Inter", sans-serif;
  color: variables.$color8;
  .headerLogo {
    margin: 0;
    padding: 0;
    margin-left: 15px;
  }
  .menu-burger {
    height: 40px;
    width: 40px;
    border: 1px solid variables.$color4;
    display: grid;
    place-items: center;
    color: variables.$color4;
    border-radius: 100%;
    margin-right: 15px;
  }
  .menu-burger:hover {
    @include mixins.buttonHovered();
  }
  .menu-burger:active {
    @include mixins.buttonActive();
  }
  .headerOptions {
    display: none;
  }
}
#footer {
  height: 450px;
  width: 100%;
  background-color: variables.$color6;
  font-family: "inter", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 30px;
  .footerCardContent {
    color: variables.$color7;
    font-size: 12px;
    display: flex;
    gap: 20px;
    .footerCardContentRow {
      display: flex;
      gap: 20px;
    }
    i:hover {
      @include mixins.buttonHovered();
    }
    i:active {
      @include mixins.buttonActive();
    }
  }
  .footerCardTitle {
    color: variables.$color1;
    font-weight: 700;
  }
  .footerCard {
    padding-left: 0;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 15px;
  }
  .footerCard:nth-child(1) {
    padding-top: 40px;
    .footerCardContent {
      display: flex;
      flex-direction: column;
    }
  }
  .footerCard:nth-child(3) {
    .footerCardContent {
      flex-direction: row;
      gap: 13.33px;
    }
    .footerCardTitle {
      color: variables.$color4;
    }
    .fa {
      font-size: 1rem;
      display: grid;
      place-items: center;
      height: 30px;
      width: 30px;
      background-color: variables.$color5;
      border-radius: 100%;
    }
  }
  .footerCard:nth-child(4) {
    opacity: 0.4;
    color: variables.$color1;
    font-size: 12px;
    font-weight: 400;
    padding-bottom: 30px;
    .footerCardContentRow {
      gap: 10px;
    }
  }
}
.cards a {
  text-decoration: none;
  .card {
    .cardInfo {
      background-color: variables.$color2;
      border-radius: 0 0 6px 6px;
      .cardInfo-texts {
        .cardInfo-title {
          color: black;
        }
      }
    }
  }
}
.cards {
  height: 100%;
  margin: 0px 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  color: black;
  .card {
    width: 320px;
    height: 320px;
    background-color: variables.$color2;
    border-radius: 6px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 165px 135px;

    .cardImg {
      grid-column: 1/2;
      grid-row: 1/2;
      height: 165px;
      width: 100%;
      .cardImage {
        height: 250px;
        width: 320px;
        border-radius: 6px 6px 0 0;
      }
    }
    .cardInfo-texts {
      .cardInfo-title {
        font-size: 20px;
        font-weight: 700;
      }
      .cardInfo-text {
        color: #625f87;
      }
    }
    .cardInfo-stats {
      font-size: 9px;
      color: variables.$color4;
    }
    .cardInfo {
      grid-column: 1/2;
      grid-row: 2/3;
      padding: 10px 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .cardInfo-text {
        height: 40px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 14px;
      }
      .cardInfo-line {
        width: 100%;
        border: 0.5px solid variables.$color4;
        margin: 5px 0px;
      }
      .cardInfo-stats,
      .cardInfo-stats-dateAuthor,
      .cardInfo-stats-commentLike {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
      }

      .cardInfo-comments,
      .cardInfo-likes {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .fa {
          font-size: 1rem;
        }
        .active {
          color: variables.$color9;
        }
      }
      .cardInfo-likes i:hover {
        color: variables.$color9;
      }
    }
  }
}
.card:hover {
  background-color: #d7f8ff;
}
.posts .options {
  display: flex;
  justify-content: space-between;
  padding: 60px 80px 40px 80px;
  .all-posts-btn {
    margin-right: 10px;
    @include mixins.normalButton();
  }
  .favorites-btn {
    @include mixins.normalButton();
  }
  .all-posts-btn:hover,
  .favorites-btn:hover {
    @include mixins.buttonHovered();
  }
  .create-post-btn {
    padding: 13px 10px 13px 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: variables.$color4;
    border-radius: 10px;
    border: 1px solid variables.$color4;
  }
  .create-post-btn:hover {
    border: 1px solid variables.$color9;
    color: variables.$color9;
  }
  .create-post-btn:active {
    border: 1px solid variables.$color9;
    background-color: variables.$color9;
    color: variables.$color1;
  }
}
.create-post {
  background-color: variables.$color1;
  color: black;
  padding: 60px 80px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 30px 1fr;
  .back-btn {
    grid-row: 1/2;
    border: 1px solid black;
    width: 100px;
    display: grid;
    place-items: center;
    border-radius: 40px;
    height: 2rem;
    text-decoration: none;
    color: black;
  }
  .back-btn:hover {
    opacity: 0.7;
  }
  .form {
    grid-row: 2/3;
    grid-column: 1/3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 50px 200px 250px 50px;
    .back-btn,
    h2,
    .titleBox,
    .textBox,
    .post-btn {
      grid-column: 1/2;
    }
    h2 {
      grid-row: 1/2;
    }
    .titleBox {
      grid-row: 2/3;
    }
    .image-uploader {
      grid-column: 2/3;
      grid-row: 2/4;
    }
    .TitleBox {
      width: 90%;
      height: 6rem;
      font-size: 3rem;
      border: 0;
      padding: 0;
      background-color: white;
      color: black;
      border: 1px solid black;
    }
    .TextBox {
      grid-row: 3/4;
      width: 90%;
      background-color: white;
      color: black;
    }
    .post-btn:disabled,
    .post-btn:disabled:hover {
      cursor: default;
      width: 140px;
      border-radius: 40px;
      border: 0;
      font-size: 16px;
      background-color: variables.$color3;
      color: variables.$color1;
    }
    .post-btn {
      cursor: pointer;
      grid-row: 5/6;
      width: 140px;
      border-radius: 6px;
      border: 1px solid variables.$color9;
      font-size: 16px;
      background-color: variables.$color1;
      color: variables.$color9;
      @include mixins.normalButton();
    }
    .post-btn:hover {
      cursor: pointer;
      background-color: variables.$color1;
      color: variables.$color9;
      @include mixins.buttonHovered();
    }
    .post-btn-box {
      grid-row: 5/6;
      grid-column: 1/2;
      padding: 0;
      margin: 0;
    }
  }
  .modal {
    display: none;
    z-index: 10;
    background-color: rgba(49, 49, 49, 0.664);
    height: 100%;
    width: 100%;
    place-items: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    .d-box {
      height: 200px;
      width: 400px;
      background-color: variables.$color1;
      padding: 20px;
      text-align: center;
      display: grid;
      place-items: center;
      font-family: "Courier New", Courier, monospace;
      font-size: 1.5rem;
      border-radius: 40px;
      border: 2px solid variables.$color9;
      a {
        font-size: 1.2rem;
        text-decoration: none;
        @include mixins.normalButton();
      }
      a:hover {
        color: variables.$color9;
        @include mixins.buttonHovered();
      }
      a:active {
        @include mixins.buttonActive();
      }
    }
  }
}
.active {
  color: variables.$color9;
}
.post {
  padding: 60px 80px;
  display: grid;
  grid-template-columns: 1fr 0.75fr;
  grid-template-rows: 50px 50px 30px auto 30px 1fr;

  .postImage {
    margin-left: 40px;
    height: 320px;
    width: 410px;
    border-radius: 10px;
  }
  .backButton {
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: white;
    padding: 10px;
    color: variables.$color9;
    text-decoration: none;
    border-radius: 40px;
    margin: 5px 0px;
    text-align: center;
    font-size: 1rem;
  }
  h1,
  h5 {
    margin: 0;
    padding: 0;
  }
  h1 {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .author {
    grid-column: 1/2;
    grid-row: 3/4;
    display: flex;
    align-items: center;
    h5 {
      margin-right: 10px;
    }
  }
  .postText {
    grid-column: 1/2;
    grid-row: 4/5;
    display: grid;
    align-items: center;
  }
  .likesAndComments {
    grid-column: 1/2;
    grid-row: 5/6;
    display: flex;
    .postLikes {
      margin-left: 20px;
    }
  }
  .commentSection {
    grid-column: 1/2;
    grid-row: 6/8;

    .postLeaveComment {
      display: flex;
      flex-direction: column;
      gap: 10px;
      #postComment {
        background-color: variables.$color1;
      }
      .submitComment {
        width: 200px;
        height: 40px;
        align-self: flex-end;
        @include mixins.normalButton();
        padding: 0;
        background-color: variables.$color1;
      }
      .submitComment:hover {
        @include mixins.buttonHovered();
        color: variables.$color9;
      }
      .submitComment:active {
        @include mixins.buttonActive();
      }
    }
  }
  img {
    grid-column: 2/3;
    grid-row: 2 / span 4;
  }
  .commentsSection {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .comment {
    padding-top: 20px;
    background-color: white;
    color: black;
    border-top: 1px solid variables.$color4;
  }
}

.image-uploader:hover {
  opacity: 0.4;
  label {
    opacity: 1;
    font-weight: bold;
    display: block !important;
  }
}

@media only screen and (min-width: 1024px) {
  #header {
    width: 100%;
    height: 84px;
    background-color: variables.$color5;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .headerLogo {
      margin-left: 80px;
      padding: 0;
      font-size: 18.75px;
      font-family: sans-serif;
      color: variables.$color8;
    }
    .headerOptions {
      display: block;
      margin-right: 80px;
      font-family: "Inter", sans-serif;
      font-size: 16px;
      color: variables.$color1;
      ul {
        display: flex;
        align-items: center;
        gap: 30px;
        list-style: none;
        a {
          text-decoration: none;
          color: variables.$color1;
        }
        .signUpOption {
          margin-left: 30px;
          color: variables.$color4;
        }
        .logInOption {
          width: 86px;
          height: 48px;
          display: grid;
          place-items: center;
          border: 1px solid variables.$color9;
          color: variables.$color9;
          border-radius: 40px;
        }
        li:hover,
        li:active,
        a:hover,
        a:active,
        .active {
          color: variables.$color8;
          text-decoration-line: underline;
          cursor: pointer;
        }
        #logInButton:hover {
          @include mixins.buttonHovered();
        }
        #logInButton:active {
          @include mixins.buttonActive();
        }
      }
    }
    .menu-burger {
      display: none;
    }
  }
  #footer {
    height: 274px;
    width: 100%;
    background-color: variables.$color6;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    font-family: "Inter", sans-serif;
    gap: 0;
    position: static;
    bottom: 0;
    margin-top: 50px;
    .footerCardContent {
      color: variables.$color7;
      font-size: 12px;
      display: flex;
      gap: 20px;
      .footerCardContentRow {
        display: flex;
        gap: 20px;
      }
    }
    .footerCard {
      padding-left: 0;
      padding-top: 0;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
    .footerCard:nth-child(1) {
      padding-top: 0;
      margin-top: 60px;
      margin-left: 80px;
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      .footerCardContent {
        flex-direction: row;
      }
    }
    .footerCard:nth-child(2) {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
      margin-bottom: 60px;
      margin-left: 80px;
      margin-top: 20px;
    }
    .footerCard:nth-child(3) {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
      margin-top: 60px;
      margin-bottom: 20px;
      .footerCardContent {
        flex-direction: row;
        gap: 15px;
      }
    }
    .footerCard:nth-child(4) {
      grid-column: 2 / 3;
      grid-row: 2 / 3;
      margin-bottom: 60px;
      margin-top: 20px;
      flex-direction: row;
      align-items: flex-end;
      opacity: 0.4;
      color: variables.$color1;
      font-size: 12px;
      font-weight: 400;
      .footerCardContentRow {
        gap: 10px;
      }
    }
    .footerCardTitle {
      color: variables.$color1;
      font-weight: 700;
    }
    .fa {
      font-size: 1rem;
      display: grid;
      place-items: center;
      height: 30px;
      width: 30px;
      background-color: variables.$color5;
      border-radius: 100%;
    }
  }
}
