body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

#header {
  height: 90px;
  padding: 0;
  margin: 0;
  background-color: #192140;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Inter", sans-serif;
  color: #dcf10d;
}
#header .headerLogo {
  margin: 0;
  padding: 0;
  margin-left: 15px;
}
#header .menu-burger {
  height: 40px;
  width: 40px;
  border: 1px solid #9d9db5;
  display: grid;
  place-items: center;
  color: #9d9db5;
  border-radius: 100%;
  margin-right: 15px;
}
#header .menu-burger:hover {
  border: 1px solid #0266ff;
}
#header .menu-burger:hover i {
  color: #0266ff;
}
#header .menu-burger:active {
  background-color: #0266ff;
  color: #ffffff;
}
#header .menu-burger:active i {
  color: #ffffff;
}
#header .headerOptions {
  display: none;
}

#footer {
  height: 450px;
  width: 100%;
  background-color: #10131c;
  font-family: "inter", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
#footer .footerCardContent {
  color: #d7f8ff;
  font-size: 12px;
  display: flex;
  gap: 20px;
}
#footer .footerCardContent .footerCardContentRow {
  display: flex;
  gap: 20px;
}
#footer .footerCardContent i:hover {
  border: 1px solid #0266ff;
}
#footer .footerCardContent i:hover i {
  color: #0266ff;
}
#footer .footerCardContent i:active {
  background-color: #0266ff;
  color: #ffffff;
}
#footer .footerCardContent i:active i {
  color: #ffffff;
}
#footer .footerCardTitle {
  color: #ffffff;
  font-weight: 700;
}
#footer .footerCard {
  padding-left: 0;
  padding-top: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 15px;
}
#footer .footerCard:nth-child(1) {
  padding-top: 40px;
}
#footer .footerCard:nth-child(1) .footerCardContent {
  display: flex;
  flex-direction: column;
}
#footer .footerCard:nth-child(3) .footerCardContent {
  flex-direction: row;
  gap: 13.33px;
}
#footer .footerCard:nth-child(3) .footerCardTitle {
  color: #9d9db5;
}
#footer .footerCard:nth-child(3) .fa {
  font-size: 1rem;
  display: grid;
  place-items: center;
  height: 30px;
  width: 30px;
  background-color: #192140;
  border-radius: 100%;
}
#footer .footerCard:nth-child(4) {
  opacity: 0.4;
  color: #ffffff;
  font-size: 12px;
  font-weight: 400;
  padding-bottom: 30px;
}
#footer .footerCard:nth-child(4) .footerCardContentRow {
  gap: 10px;
}

.cards a {
  text-decoration: none;
}
.cards a .card .cardInfo .cardInfo-texts .cardInfo-title {
  color: black;
}

.cards {
  height: 100%;
  margin: 0px 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  color: black;
}
.cards .card {
  width: 320px;
  height: 320px;
  background-color: #f8f9fc;
  border-radius: 6px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 165px 135px;
}
.cards .card .cardImg {
  grid-column: 1/2;
  grid-row: 1/2;
  height: 165px;
  width: 100%;
}
.cards .card .cardImg .cardImage {
  height: 250px;
  width: 320px;
}
.cards .card .cardInfo-texts .cardInfo-title {
  font-size: 20px;
  font-weight: 700;
}
.cards .card .cardInfo-texts .cardInfo-text {
  color: #625f87;
}
.cards .card .cardInfo-stats {
  font-size: 9px;
  color: #9d9db5;
}
.cards .card .cardInfo {
  grid-column: 1/2;
  grid-row: 2/3;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cards .card .cardInfo .cardInfo-text {
  height: 40px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
}
.cards .card .cardInfo .cardInfo-line {
  width: 100%;
  border: 0.5px solid #9d9db5;
  margin: 5px 0px;
}
.cards .card .cardInfo .cardInfo-stats,
.cards .card .cardInfo .cardInfo-stats-dateAuthor,
.cards .card .cardInfo .cardInfo-stats-commentLike {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.cards .card .cardInfo .cardInfo-comments,
.cards .card .cardInfo .cardInfo-likes {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cards .card .cardInfo .cardInfo-comments .fa,
.cards .card .cardInfo .cardInfo-likes .fa {
  font-size: 1rem;
}
.cards .card .cardInfo .cardInfo-comments .active,
.cards .card .cardInfo .cardInfo-likes .active {
  color: #0266ff;
}
.cards .card .cardInfo .cardInfo-likes i:hover {
  color: #0266ff;
}

.card:hover {
  background-color: #d7f8ff;
}

.posts .options {
  display: flex;
  justify-content: space-between;
  padding: 60px 80px 40px 80px;
}
.posts .options .all-posts-btn {
  margin-right: 10px;
  padding: 16px 20px;
  color: #9d9db5;
  border-radius: 40px;
  border: 1px solid #9d9db5;
}
.posts .options .favorites-btn {
  padding: 16px 20px;
  color: #9d9db5;
  border-radius: 40px;
  border: 1px solid #9d9db5;
}
.posts .options .all-posts-btn:hover,
.posts .options .favorites-btn:hover {
  border: 1px solid #0266ff;
}
.posts .options .all-posts-btn:hover i,
.posts .options .favorites-btn:hover i {
  color: #0266ff;
}
.posts .options .create-post-btn {
  padding: 13px 10px 13px 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: #9d9db5;
  border-radius: 10px;
  border: 1px solid #9d9db5;
}
.posts .options .create-post-btn:hover {
  border: 1px solid #0266ff;
  color: #0266ff;
}
.posts .options .create-post-btn:active {
  border: 1px solid #0266ff;
  background-color: #0266ff;
  color: #ffffff;
}

.create-post {
  background-color: #ffffff;
  color: black;
  padding: 60px 80px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 30px 1fr;
}
.create-post .back-btn {
  grid-row: 1/2;
  border: 1px solid black;
  width: 100px;
  display: grid;
  place-items: center;
  border-radius: 40px;
  height: 2rem;
  text-decoration: none;
  color: black;
}
.create-post .back-btn:hover {
  opacity: 0.7;
}
.create-post .form {
  grid-row: 2/3;
  grid-column: 1/3;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 50px 200px 250px 50px;
}
.create-post .form .back-btn,
.create-post .form h2,
.create-post .form .titleBox,
.create-post .form .textBox,
.create-post .form .post-btn {
  grid-column: 1/2;
}
.create-post .form h2 {
  grid-row: 1/2;
}
.create-post .form .titleBox {
  grid-row: 2/3;
}
.create-post .form .image-uploader {
  grid-column: 2/3;
  grid-row: 2/4;
}
.create-post .form .TitleBox {
  width: 90%;
  height: 6rem;
  font-size: 3rem;
  border: 0;
  padding: 0;
  background-color: white;
  color: black;
  border: 1px solid black;
}
.create-post .form .TextBox {
  grid-row: 3/4;
  width: 90%;
  background-color: white;
  color: black;
}
.create-post .form .post-btn:disabled,
.create-post .form .post-btn:disabled:hover {
  cursor: default;
  width: 140px;
  border-radius: 40px;
  border: 0;
  font-size: 16px;
  background-color: #c0bfcd;
  color: #ffffff;
}
.create-post .form .post-btn {
  cursor: pointer;
  grid-row: 5/6;
  width: 140px;
  border-radius: 6px;
  border: 1px solid #0266ff;
  font-size: 16px;
  background-color: #ffffff;
  color: #0266ff;
  padding: 16px 20px;
  color: #9d9db5;
  border-radius: 40px;
  border: 1px solid #9d9db5;
}
.create-post .form .post-btn:hover {
  cursor: pointer;
  background-color: #ffffff;
  color: #0266ff;
  border: 1px solid #0266ff;
}
.create-post .form .post-btn:hover i {
  color: #0266ff;
}
.create-post .form .post-btn-box {
  grid-row: 5/6;
  grid-column: 1/2;
  padding: 0;
  margin: 0;
}
.create-post .modal {
  display: none;
  z-index: 10;
  background-color: rgba(49, 49, 49, 0.664);
  height: 100%;
  width: 100%;
  place-items: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.create-post .modal .d-box {
  height: 200px;
  width: 400px;
  background-color: #ffffff;
  padding: 20px;
  text-align: center;
  display: grid;
  place-items: center;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.5rem;
  border-radius: 40px;
  border: 2px solid #0266ff;
}
.create-post .modal .d-box a {
  font-size: 1.2rem;
  text-decoration: none;
  padding: 16px 20px;
  color: #9d9db5;
  border-radius: 40px;
  border: 1px solid #9d9db5;
}
.create-post .modal .d-box a:hover {
  color: #0266ff;
  border: 1px solid #0266ff;
}
.create-post .modal .d-box a:hover i {
  color: #0266ff;
}
.create-post .modal .d-box a:active {
  background-color: #0266ff;
  color: #ffffff;
}
.create-post .modal .d-box a:active i {
  color: #ffffff;
}

.active {
  color: #0266ff;
}

.post {
  padding: 60px 80px;
  display: grid;
  grid-template-columns: 1fr 0.75fr;
  grid-template-rows: 50px 50px 30px auto 30px 1fr;
}
.post .postImage {
  margin-left: 40px;
  height: 320px;
  width: 410px;
  border-radius: 10px;
}
.post .backButton {
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: white;
  padding: 10px;
  color: #0266ff;
  text-decoration: none;
  border-radius: 40px;
  margin: 5px 0px;
  text-align: center;
  font-size: 1rem;
}
.post h1,
.post h5 {
  margin: 0;
  padding: 0;
}
.post h1 {
  grid-column: 1/2;
  grid-row: 2/3;
}
.post .author {
  grid-column: 1/2;
  grid-row: 3/4;
  display: flex;
  align-items: center;
}
.post .author h5 {
  margin-right: 10px;
}
.post .postText {
  grid-column: 1/2;
  grid-row: 4/5;
  display: grid;
  align-items: center;
}
.post .likesAndComments {
  grid-column: 1/2;
  grid-row: 5/6;
  display: flex;
}
.post .likesAndComments .postLikes {
  margin-left: 20px;
}
.post .commentSection {
  grid-column: 1/2;
  grid-row: 6/8;
}
.post .commentSection .postLeaveComment {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.post .commentSection .postLeaveComment #postComment {
  background-color: #ffffff;
}
.post .commentSection .postLeaveComment .submitComment {
  width: 200px;
  height: 40px;
  align-self: flex-end;
  padding: 16px 20px;
  color: #9d9db5;
  border-radius: 40px;
  border: 1px solid #9d9db5;
  padding: 0;
  background-color: #ffffff;
}
.post .commentSection .postLeaveComment .submitComment:hover {
  border: 1px solid #0266ff;
  color: #0266ff;
}
.post .commentSection .postLeaveComment .submitComment:hover i {
  color: #0266ff;
}
.post .commentSection .postLeaveComment .submitComment:active {
  background-color: #0266ff;
  color: #ffffff;
}
.post .commentSection .postLeaveComment .submitComment:active i {
  color: #ffffff;
}
.post img {
  grid-column: 2/3;
  grid-row: 2/span 4;
}
.post .commentsSection {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.post .comment {
  padding-top: 20px;
  background-color: white;
  color: black;
  border-top: 1px solid #9d9db5;
}

.image-uploader:hover {
  opacity: 0.4;
}
.image-uploader:hover label {
  opacity: 1;
  font-weight: bold;
  display: block !important;
}

@media only screen and (min-width: 1024px) {
  #header {
    width: 100%;
    height: 84px;
    background-color: #192140;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #header .headerLogo {
    margin-left: 80px;
    padding: 0;
    font-size: 18.75px;
    font-family: sans-serif;
    color: #dcf10d;
  }
  #header .headerOptions {
    display: block;
    margin-right: 80px;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    color: #ffffff;
  }
  #header .headerOptions ul {
    display: flex;
    align-items: center;
    gap: 30px;
    list-style: none;
  }
  #header .headerOptions ul a {
    text-decoration: none;
    color: #ffffff;
  }
  #header .headerOptions ul .signUpOption {
    margin-left: 30px;
    color: #9d9db5;
  }
  #header .headerOptions ul .logInOption {
    width: 86px;
    height: 48px;
    display: grid;
    place-items: center;
    border: 1px solid #0266ff;
    color: #0266ff;
    border-radius: 40px;
  }
  #header .headerOptions ul li:hover,
  #header .headerOptions ul li:active,
  #header .headerOptions ul a:hover,
  #header .headerOptions ul a:active,
  #header .headerOptions ul .active {
    color: #dcf10d;
    text-decoration-line: underline;
    cursor: pointer;
  }
  #header .headerOptions ul #logInButton:hover {
    border: 1px solid #0266ff;
  }
  #header .headerOptions ul #logInButton:hover i {
    color: #0266ff;
  }
  #header .headerOptions ul #logInButton:active {
    background-color: #0266ff;
    color: #ffffff;
  }
  #header .headerOptions ul #logInButton:active i {
    color: #ffffff;
  }
  #header .menu-burger {
    display: none;
  }
  #footer {
    height: 274px;
    width: 100%;
    background-color: #10131c;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    font-family: "Inter", sans-serif;
    gap: 0;
    position: static;
    bottom: 0;
    margin-top: 50px;
  }
  #footer .footerCardContent {
    color: #d7f8ff;
    font-size: 12px;
    display: flex;
    gap: 20px;
  }
  #footer .footerCardContent .footerCardContentRow {
    display: flex;
    gap: 20px;
  }
  #footer .footerCard {
    padding-left: 0;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  #footer .footerCard:nth-child(1) {
    padding-top: 0;
    margin-top: 60px;
    margin-left: 80px;
    grid-column: 1/2;
    grid-row: 1/2;
  }
  #footer .footerCard:nth-child(1) .footerCardContent {
    flex-direction: row;
  }
  #footer .footerCard:nth-child(2) {
    grid-column: 1/2;
    grid-row: 2/3;
    margin-bottom: 60px;
    margin-left: 80px;
    margin-top: 20px;
  }
  #footer .footerCard:nth-child(3) {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 60px;
    margin-bottom: 20px;
  }
  #footer .footerCard:nth-child(3) .footerCardContent {
    flex-direction: row;
    gap: 15px;
  }
  #footer .footerCard:nth-child(4) {
    grid-column: 2/3;
    grid-row: 2/3;
    margin-bottom: 60px;
    margin-top: 20px;
    flex-direction: row;
    align-items: flex-end;
    opacity: 0.4;
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
  }
  #footer .footerCard:nth-child(4) .footerCardContentRow {
    gap: 10px;
  }
  #footer .footerCardTitle {
    color: #ffffff;
    font-weight: 700;
  }
  #footer .fa {
    font-size: 1rem;
    display: grid;
    place-items: center;
    height: 30px;
    width: 30px;
    background-color: #192140;
    border-radius: 100%;
  }
}/*# sourceMappingURL=main.css.map */